.call{
	position: relative;
	float: left;
	margin-top: 10px;
	border: solid 1px;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	width: 100%;
}
.call:hover{
	cursor: pointer;
	opacity: 0.8;
}
.call .name{
	font-size: 23px;
}
.call .name .position{
	font-size: 15px;
	color: #B3B3AE;
}
.call .subtext{
	color: #707070;
	margin-left: 20px;
}
.call .icon{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 25px;
}

.new_call{
	float: right;
}
.name{
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}
.status{
	float: right;
}
.status_msg{
	font-size: 20px;
	color: #707070;
}
.info_title{
	color: #6695CC;
	font-size: 15px;
}
.call_info_table{
	width: 90%;
	margin-left: 5%;
	font-size: 20px;
}
.left{
	float: left;
	width: 49.5%;
}
.right{
	float: right;
	width: 49.5%;
}
.info_bit{
	color: #333333;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}
.info_bit .double{
	width: 100%;
	float: left;
}
.modal_btns{
	float: left;
	width: 100%;
}
.call_description{
	font-size: 15px;
}

.pending{
	background-color: #FCF8E1;
	border-color: #FAEBC8;
}
.accepted{
	background-color: #E0F0D6;
	border-color: #D8E9C2;
}
.declined{
	background-color: #F1DEDE;
	border-color: #E9CCD1;
}

.call_info{
	margin-bottom: 10px;
}
#modal_content{
	float: left;
}
.btn{
	display: inline-block;
	float: right;
	min-width: 50px;
}
.del{
	background-color: #A54540;
	float: left;
}
.del:hover{
	background-color: #993333;
}
.propose{
	margin-right: 5px;
	background-color: #7F9E62;
}
.date, .time{
	height: 29px;
	font-size: 15px;
	border: solid 1px #829E5A;
}
.date{
	width: 85px;
	border-right: none;
}
.time{ width: 65px;
margin-right: 5px;}

.propose:hover{
	background-color: #9CB584;
}
.field_input{
  width: 60%;
	max-width: 250px;
  font-size: 15px;
  padding: 5px;
}
.text_input{
	width: 60%;
}
.save{
	margin-right: 5px;
}

.addcall{
	width: 90%;
	float: left;
	margin-left: 10%;
	margin-bottom: 25px;
	margin-top: 10px;
}
.error_container{
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
}
.addcall_error{
	background-color: #F0DEDE;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
.new_desc{
	width: 82%;
}
.addcall_btn{
	float: right;
}

.updated{
	color: #829E5A;
	float: right;
	margin-right: 25px;
	margin-top: 15px;
	display: none;
}
