{% extends "frame.html" %}

{% block imports %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/overview.css') }}" />
{% endblock %}

{% block content %}
  <button onclick="window.location.href='/schedule'" class="new_call">Schedule Call <i class="fa fa-plus-square-o"></i></button>
  {% for call in data.calls %}
  <div class="call {{call['status']}}" id="{{call['id']}}">
    <div class="name">
      {{call['fname']}} {{call['lname']}}
       <span class="position">({{call['position']}})</span></div>
    {% if call['status']=='accepted' %}
      <div class="subtext">Call accepted at: {{call['calltime']}}</div>
      <i class="icon fa fa-check-square-o" title="Accepted"></i>
    {% elif call['status']=='pending' %}
      <div class="subtext">Call is pending acceptance from recipient</div>
      <i class="icon fa fa-paper-plane-o" title="Pending"></i>
    {% elif call['status']=='declined' %}
      <div class="subtext">Call was declined by recipient</div>
      <i class="icon fa fa-ban" title="Declined"></i>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}

{% block modal %}
<div class="call_info"></div>
<span class="call_id"></span>
<button class="btn">Save</button>
<button class="del btn">Cancel Call</button>
{% endblock %}

{% block script %}
<script>
$(".call").click(function(e){
  var call_id = e.currentTarget.id;
  $.get( "/getcall/"+call_id, function( data ) {
    $( ".call_id" ).text(call_id);
    $( ".call_info" ).text( data );
    $("#modal").fadeIn();
    $("#modal").removeClass("hide");
  });

});

$(".del").click(function(e){
    var call_id = $( ".call_id" ).text();
    $.get( "/delcall/"+call_id, function( data ) {
        location.reload();
    });
});

</script>
{% endblock %}
